@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --dark-purple: #0d1033;
    --normal-purple: #3b4eff;
    --modal-container-bg: #00000096;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
}

.leftSideBarBg {
    background-color: var(--dark-purple);
}
.tooltipCommon{
    opacity: 0.85 !important;
    border-radius: 5px !important;
    max-width: 300px !important;
    z-index: 99999 !important;
}

@keyframes fromDown {
    from {
        margin-top: 100vh;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}

.fromDownAnim {
    animation-name: fromDown;
    animation-timing-function: ease;
    animation-duration: 200ms;
    animation-iteration-count: 1;
}