@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --dark-purple: #0d1033;
    --normal-purple: #3b4eff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.leftSideBarBg {
    background-color: var(--dark-purple);
}
